<!-- remove -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XYZ Dashboard</title>
    <link rel="stylesheet" href="../../static/templates/adminDashboard.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    <header>
        <h1>XYZ</h1>
        <button class="logout-btn" onclick="window.location.href='{% url 'logout' %}'">Logout</button>

    </header>

    <main>
        <h2>Dashboard</h2>
        <div class="grid-container">
            <a href="{% url 'staff_list' %}" class="grid-item">
                <i class="fas fa-users"></i>
                <p>Staff</p>
            </a>
            <a href="{% url 'doctor_list' %}" class="grid-item">
                <i class="fas fa-user-md"></i>
                <p>Doctors</p>
            </a>
            <a href="{% url 'patient_list' %}" class="grid-item">
                <i class="fas fa-procedures"></i>
                <p>Patients</p>
            </a>
            <a href="{% url 'appointment_list' %}" class="grid-item">
                <i class="fas fa-calendar-check"></i>
                <p>Appointments</p>
            </a>
            <a href="{% url 'admitted_patient_list' %}" class="grid-item">
                <i class="fas fa-bed"></i>
                <p>Admitted Patients</p>
            </a>
            <a href="{% url 'medicine_list' %}" class="grid-item">
                <i class="fas fa-pills"></i>
                <p>Medicines</p>
            </a>
            <a href="{% url 'ambulance_list' %}" class="grid-item">
                <i class="fas fa-ambulance"></i>
                <p>Ambulance</p>
            </a>
            <a href="{% url 'billing_list' %}" class="grid-item">
                <i class="fas fa-file-invoice-dollar"></i>
                <p>Bills</p>
            </a>
            <a href="{% url 'medical_record_list' %}" class="grid-item">
                <i class="fas fa-notes-medical"></i> 
                <p>Medical Records</p>
            </a>
        </div>
    </main>

</body>
</html>
