
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-button {
    text-decoration: none;
    background-color: #4CAF50; 
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
}

.home-button:hover {
    background-color: #45a049; 
}


header {
    background-color: #007bff; 
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
}

form {
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    background-color: #28a745; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #218838; 
}
